#centre 
{
    text-align: center;
}
#police
{
    font-family: Impact, Arial, Verdana, sans-serif;
}
#menu 
{
    position: sticky;
    right: 0;
    left: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}

body
{
    padding:0px;
    margin:0px;
    background-size: auto ;
    background-repeat: no-repeat;
    background: url('img/flneige.jpg');
    background-attachment: fixed;
}
.header {
    padding: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position:sticky;
    top: 0;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
}   

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav .icon {
	display: none;
}

img {
	position: absolute;
	right: 0;
	top: 21vh;
	height: 20vh;
	width: auto;
}

.position {
    display:flex;
    float: left;
    background-color:#ADD8E6;
    width: 10em;
    border-radius: 4px;
    color: cyan;
    align-items: center;
    justify-content: center;
    margin:2.5em;
}

@media screen and (max-width: 700px) 
{
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .header h1{
         display: none;
    }
    img{
         margin-right: auto;
        margin-left: auto;
    }  
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}


.bouton {
    position: fixed;
    display: flex;
    height: 40px;
    width: 50px;
    bottom: 20px;
    right:20px;
    justify-content: center;
    background-color: #ddd ;
    color: #333;
    border-radius:10px;
    text-decoration: none;
    align-items: center;
}  

h1 {
    text-shadow: 2px 2px white;
}

h2 {
     color: cyan;
}

input[type=text], select {
    width: 75%;
    padding: 30px 30px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    text-align: left;
}

input[type=submit] {
    width: 75%;
    background-color: #FF0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FFB6C1;
}







